body{
    background-color: #939393;
    font-family:monospace;
}

section{
    display: flex;
    border-radius: 25px;
  box-shadow: 2px 2px 3px 3px #5e4f401d;
  background-color: white;
  width: 100%;
}
h2 {
    
    width:100%;
  min-height: 72px;
}
img {
    
    height:100px;
  max-width: 100%;
  width: auto;
  margin: 1rem auto;
    

}
a {
    
    cursor: pointer;
}
button {
    color: green;
}
ul{
    width: 50px;
    border: 3px solid black;
    border-radius: 10px;
    color: rgb(245, 245, 245);
    background-color: #747580;
}
li{
    font-size: 16px;
}

a {
    color:#747580;
    text-decoration: none;
}
a:hover{
    color:white;
}

/* for 320 media change image size! */

